<div class="profileCard">
   <div class="wallpaperTop">
     <div class="wallpaperText">
       <p>welcome back !</p>
     </div>
   </div>
   <div class="profileCardContent">
      <div class="profileCardContentLeft">
        <img src="https://images.pexels.com/photos/5615665/pexels-photo-5615665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style=" border-radius: 50%; border: 5px solid var(--panelBCG); width: 70px; height: 70px;  margin-left: 15px; margin-right: 1px; margin-top: -50px;"></img>
        <div class="nameOccupation">
          <div class="name">Chris Ochieng</div>
          <div class="occupation">Web Designer</div>
        </div>
      </div>

      <div class="profileCardContentRight">
       <div class="profileActivities">
         <div class="profileActivitiesContent">
           <div class="profileTrips">
             <h5>125</h5>
             <p>Trips</p>
           </div>
           <div class="profilePendingIssues">
             <h5>12</h5>
             <div class="profilePendingIssuesP">
              <p>pending issues</p>
             </div>
           </div>
         </div>
         <button class=" btn-primary profileBtn">
           view profile 
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
             <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
           </svg>
         </button>
       </div>
    </div>
    </div>
</div>