<div class="edit">

<div class="editForm">
   <h1 class="text-primary formHeaders">Editing sacco</h1>

  <%= render "form", sacco: @sacco %>

  <br>

  <div>
    <%= link_to "Show this sacco", @sacco, class:"btn btn-secondary" %> 
    <%= link_to "Back to saccos", saccos_path, class:"btn btn-dark" %>
  </div>
</div>


</div>