body {
    background-color: #eee;
    padding-top: 60px;
}

.flex{
    display: flex;
    border: 1px sold red;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}


.card {
    border: none;
    border-radius: 10px;
    width: 250px;
}

/* .cardSpacing{
    margin: 0;
    padding: 0;
} */

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.badge a{
    text-decoration: none;
    color: inherit;
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    height: 5px;
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}